<mat-toolbar color='primary' style="padding: 0;">
    <div class="logo">
        <h3 class="title_logo" routerLink='/books'>BookShop.in</h3>
    </div>
    <div class="right_side">
        <h4>Hello, {{userName}}!</h4>
        <div style="display: flex;align-items: flex-end;"><button routerLink='/cart' mat-icon-button><mat-icon style="font-size: 30px;">shopping_cart</mat-icon></button>
            <h5 style="cursor: pointer;">Cart</h5>
        </div>
    </div>
</mat-toolbar>
<mat-toolbar *ngIf='searchTool' style="height: 40px;background-color:#ddd;">
    <div class="search">
        <input placeholder="Search for books here..." type="text" [(ngModel)]='searchValue'>
        <button mat-flat-button color='primary' [routerLink]='[searchValue]'><mat-icon>search</mat-icon></button>
    </div>
</mat-toolbar>