.mainDiv {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 0 10em 0 10em;
}

.detailDiv {
    display: flex;
    flex: 1;
    height: 20em;
    margin-top: 2em;
    background-color: white;
    border: 1px solid #ddd;
}

.bookDiv {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1em 0 1em 0;
}

.bookDetail {
    display: flex;
    flex: 3;
    padding: 1em 0 1em 0;
    /* background: firebrick; */
}

h1,
h3 {
    margin: 0;
}

.panel {
    background-color: red;
}