.container {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: flex-end;
}

.form {
    display: flex;
    flex: 9;
    justify-content: center;
}

.main_form_div {
    display: flex;
    width: 20em;
    flex-direction: column;
    height: 15em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid #ddd;
    background-color: white;
}

h2 {
    margin-top: 1em;
}