mat-card {
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 2em;
    height: 17em;
    width: 10em;
    padding: 0 !important;
}

.no_content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.no_content>h1 {
    font-weight: 400;
}

h5 {
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
    margin: 0;
}

.book_content {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    height: 79vh;
    overflow-y: scroll;
}